.Titulo{
    margin-left: 345px;
    width: 350px;
}
.Foto{
    width: 150px;
    height: 250px;
    margin-top: -40px;
    margin-left: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.Datos{
    width: 500px;
    margin-left: 345px;
    margin-top: -240px;
}

.Deportes{
    margin-left: 345px;
    color:cadetblue;
    width: 400px;
    margin-top: 100px;
}

.Escritores{
    margin-left: 345px;
    color:cadetblue;
    width: 400px;
    margin-top: 15px;
}

.Perfil{
    margin-left: 345px;
    color:cadetblue;
    width: 800px;
    margin-top: 15px;
}

p{
    font-family: 'Times New Roman';
}

h1{
    font-family: 'Times New Roman';
    color: black;
}

h3{
    font-family: 'Times New Roman';
    color: black;
}

h4{
    font-family: 'Times New Roman';
    color: black;
}

h5{
    margin-left: 345px;
    margin-top: 15px;
    font-family: 'Courier New';
    color: black;
}